.container{
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  margin:auto;
  padding:24px;
  background-color: FFFBFF;
}
.content{
  display:flex;
  box-sizing: border-box;
  width:50%;
  margin:auto;
  flex-direction: column;
  background-color: E09600;
  padding:24px;
  margin-top:24px;
  height:auto;
}