.container{
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  margin:auto;
  padding:24px;
  background-color: aquamarine;
}
.form{
  display:flex;
  box-sizing: border-box;
  width:50%;
  margin:auto;
  flex-direction: column;
  background-color: burlywood;
  border:2px solid green;
  padding:24px;
  margin-top:24px;
}